* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #eef0f8;
    background-image: url('../../assets/img/regdoc.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 350px;
    font-family: 'Poppins', sans-serif;
    font-size: .835rem;

    &.bg-login {
        background-image: url('../../assets/img/regdoc-login.png');
        background-size: cover;
    }
}

.bg-orange {
    background-color: #DC4943;
    color: #FFF;
    transition: .9s;

    &:hover { background-color: darken(#DC4943, 20%); color: #FFF; }
}

.bg-grey {
    background-color: #323232;
    color: #FFF;
}

.bg-light-orange {
    background-color: lighten(#DC4943, 35%);
    color: #DC4943;

    &:hover { background-color: #DC4943; color: #FFF; }
}

.bg-light-secondary {
    background-color: lighten(#6c757d, 45%);
    color: #6c757d;

    &:hover { background-color: #6c757d; color: #FFF; }
}

/* Botões */
button {
    font-size: .85rem !important;
}

.btn-primary {
    background-color: #005ca9;
    border-color: #005ca9;
}

.btn-light-primary {
    background-color: #e1e9ff;
    color: #005ca9;
    border-color: #e1e9ff;

    &:hover, &:focus, &:active {
        background-color: #005ca9;
        border-color: #005ca9;
        color: #FFF;
    }
}

.btn-light-success {
    background-color: #c3f4ce;
    color: #28a745;
    border-color: #c3f4ce;

    &:hover, &:focus, &:active {
        background-color: #28a745;
        border-color: #28a745;
        color: #FFF;
    }
}

.container.mt-4 div div.buttons button,
.container.mt-4 div div.buttons a {
    font-size: .85rem;
}

table td.options a,
table td.options div.btn-group button,
div.row .col input {
    font-size: .85rem;
}

/* Badges */
table tbody tr td span.bg-primary {
    background-color: #005ca9 !important;
}

.nav-item .active,
a:active {
    color: white !important;
    text-decoration: none !important;

    &:hover { color: #FFF !important; }
}
