.container {
    max-width: 1140px;
}

header {

    &.bg-white {

        .container {
            height: 70px;
            padding-top: 5px;
        }
    }

    border-bottom: 1px solid rgba(255, 255, 255, .1);

    .container {
        height: 80px;
        padding-top: 9px;
    }

    nav.navbar {
        padding: .5rem 0;

        ul.navbar-nav {
            margin-left: 1rem;

            ul.dropdown-menu li {
                margin: .5rem;
            }

            >li.nav-item {
                padding: 0 .25rem;

                >a.nav-link {
                    border-radius: .42rem;
                    color: #FFF;
                    padding: .75rem 1.25rem;
                    font-size: 14px;

                    &.disabled { color: rgba(255, 255, 255, .8); }
                }

                &.active>a.nav-link,
                >a.nav-link:hover {
                    background-color: rgba(255, 255, 255, .1);
                }
            }
        }

        div.user {

            .dropdown-menu {
                width: 100%;
                padding: .5rem;

                .dropdown-item {
                    margin: .5rem 0;
                }
            }

            button {
                font-size: 14px;
                padding: .3rem .4rem;

                >span.initial {
                    background-color: rgba(255, 255, 255, .2);
                    border-radius: .42rem;
                    height: 35px;
                    line-height: 35px;
                    width: 35px;
                }

                &:after { display: none; }
                &:hover { background-color: rgba(255, 255, 255, .2); }
            }
        }

        .dropdown-item.active, 
        .dropdown-item:active { 
            background: #DC4943;
        }
    }
}

/* Subheader */
div#sub-header {
    height: 150px;

    div.user {

        button {
            padding: .3rem .365rem;
        }

        .dropdown-menu {

            .dropdown-item {
                padding: 1rem;

                &:active { background-color: #DC4943; }
            }
        }

        span.initial.text-white {
            background-color: rgba(255, 255, 255, .2);
            border-radius: .42rem;
            height: 35px;
            line-height: 35px;
            width: 35px;
        }

        #btn-contas {
            &:after { display: none; }
            &:hover { background-color: rgba(255, 255, 255, 0.2); }
        }
    }

    ol.breadcrumb {
        background-color: transparent;
        padding: 0;

        >li.breadcrumb-item {
            color: #FFF;

            >a {
                color: rgba(255, 255, 255, 0.7);
                text-decoration: none;
            }
        }

        >li.breadcrumb-item + li.breadcrumb-item::before { 
            color: #FFF; 
            content: "•";
        }
    }

    div.signature a {
        color: #FFF;
        display: inline-block;
        line-height: 1.1;
        text-decoration: none;
    }
}

/** Media querys **/
@media (max-width: 767.98px) {

    .navbar-collapse.justify-content-between {
        background-color: #004d7c;
        z-index: 2;
        border: 1px solid darkgray;
    }
}
