* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #eef0f8;
    background-image: url('../../assets/img/regdoc.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 350px;
}